<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><% include ./include/title.ejs %></title>
  </head>
  <body>
    <% include ./include/gnb.ejs %>
    <div>work</div>
  </body>
</html>
